.navbar {
    max-height:200px;
  }

.navbar img {
    max-width:80%; 
  }

.navbar-brand {
    position: relative;
    right:16em;
    transform:scale(.8);
   
    font-family: 'IBM Plex Mono', monospace;
     
}

ul {
    position: relative;
    left:10em;
}

/* body {
    background-image: url("https://media0.giphy.com/media/ko7twHhomhk8E/giphy.gif")

} */


body { 
    background:  url("images/contact.gif");
    background-size: cover;
  }
/*  */


.jumbotron {
    margin-top:20%;
    margin-left:12%;
    margin-right:12%;
    display: block;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    

}

#formContainer {
    background-color:black;
    color:deepskyblue;
}

.jumbotron input {
    border-color:deepskyblue;
    border-style: solid;
    border-width:3px;
    font-family: Helvetica;
}

.jumbotron textarea {
    border-color:deepskyblue;
    border-style: solid;
    border-width:3px;
    font-family: Helvetica;
}

#email {
  margin-top:3%;

}


/* #binary {
    width:1300px;

} */
