.navbar {
    max-height:200px;
  }

.navbar img {
    max-width:80%; 
  }

.navbar-brand {
    position: relative;
    right:16em;
    transform:scale(.8);
   
    font-family: 'IBM Plex Mono', monospace;
     
}

ul {
    position: relative;
    left:10em;
}

.top {
    padding-top:15%;
}
.pic {
    /* margin-top:100%; */
    width:32%;
    position:relative;
    left:5%;
    
}

.last {
    position:absolute;
    left:4%;
}

.flip-card {
    background-color: transparent;
    /* width: 300px;
    height: 200px; */
    /* border: 1px solid #f1f1f1; */
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  .flip-card {
    background-color: transparent;
    /* height: 435px; */
    /*   min-height:600px;  */
    /* min-height: 300px; */
    /* margin-bottom: 3%; */
    /* border: 2px solid #f1f1f1;
    border-radius: 6px; */
    /* padding: 5%; */
    perspective: 1000px;
    /* display:block; */
    /* position: relative; */
}

.flip-card img {
    height: 100%;
    width: 100%;
    /* max-height: 200px; */
}


/* This container is needed to position the front and back side */

.flip-card-inner {
    width: 100%;
    position: relative;
    /* /* width:100%; */
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}


/* Do an horizontal flip when you move the mouse over the flip box container */

.flip-card:hover .flip-card-inner {
    transform: rotateX(180deg);
}


/* Position the front and back side */

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    /* border: 2% solid #f1f1f1; */
    /* border-radius: 2%; */
}


/* Style the front side (fallback if image is missing) */

.flip-card-front {
    height: 100%;
    background-color: #f8f2eb;
    /* background-color:floralwhite; */
    /* color: #590808; */
    /* border: 2% solid #f1f1f1; */
    /* border-radius: 2%; */
    /* padding: 2%; */
}


/* Style the back side */

.flip-card-back {
    overflow: scroll;
    height: 100%;
    background-color: dodgerblue;
    color: white;
    transform: rotateX(180deg);
    /* border: 2% solid #f1f1f1; */
    /* border-radius: 2%; */
}


/* .btn-success {
  background-color: limegreen
  border-color:limegreen;
} */

.flip-card-front .hover {
    font-weight: bold;
    font-style: italic;
}
