.navbar {
    max-height:200px;
  }

.navbar img {
    max-width:80%; 
  }

.navbar-brand {
    position: relative;
    right:16em;
    transform:scale(.8);
   
    font-family: 'IBM Plex Mono', monospace;
     
}

ul {
    position: relative;
    left:10em;
}

.top {
    padding-top:15%;
}
.pic {
    /* margin-top:100%; */
    width:32%;
    position:relative;
    left:5%;
    
}

.last {
    position:absolute;
    left:4%;
}