
body {
      background-image: url("images/dark-paths.png");
  }

.diamond .me {
    width:50%;
    border-radius:70%;
    float:left;
    margin:4%;
    margin-top:0%;
    max-width:250px;

}

.diamond{
  
  width:550px;
  height:550px;

  border-radius:40px;

  background: slategray;
  transform: rotate(45deg);
  position: relative;
  margin:0 auto;
  /* margin-top: 40px; */
  overflow: hidden;
  
  
}





.diamond-content{
    position: absolute;
    color: #fff;
    transform: rotate(-45deg);
    text-align: center;
    /* width: 90%;
    height: 80%; */
    padding:2%;
    overflow: hidden;
    top: 15%;
    right: 8%;
    width: 90%;
    height: 80%;
    backface-visibility: hidden;
  }


  

  .flip-card-inner {
    transition: transform 0.8s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    
  }
  
  
  
  .flip-card:hover .flip-card-inner {
    transform: rotateX(180deg);
    
  }
 
  .flip-card-front, .flip-card-back {
    backface-visibility: hidden;
  }
  
  
  .flip-card-back {
    transform: rotateX(180deg);
    backface-visibility: hidden;
    color:white;
    position:relative;
  }



  .flip-card-front {
    backface-visibility: hidden;
  }


  @media (min-width: 259px) and (max-width: 414px) {
    #bigContainer {
        width:300px;
        height:300px;
    }

    #diamond{

        width:280px;
        height:280px;
        right:80px;
        top:80px;
/*          border-color:lightcyan;
        border-style: solid;
         */
        

        
        }


        #diamond-content{
            left:5%;
            top:2%;
            font-size: 11px;
            padding:0%;
            margin:0%;
            border:10px;
          
          }

          #diamond .me {
            width:50%;
            margin-top:18%;
        }

        #diamond #textContainer {
            margin:9%;
            
        }

        
    }


.navbar {
    margin-bottom: 5%;
    width:100%;
}



 #bigContainer {
     min-width: 20%;
     margin:30%;
 }

.card {
margin: 0 auto;
position:relative;
left:20%;
background: var(--main-color);
  /* font-family: "dancing script", cursive; */
  color: rgb( 121, 125, 127 );
  /* letter-spacing: .5px;
   */


}

